div.wrapper
  //iframe(src="http://143.183.81.97:8090/javascript_simple.html")
  a.up#foodButton(type="button", value="food") Food
  a.left#videoButton(type="button", value="video") Video
  a.down#callButton(type="button", value="call") Call
  a.right#audioButton(type="button", value="audio") Audio
